list

list adalah jenis kumpulan data terurut (ordered sequence), dan merupakan salah satu variable yang sering digunakan pada phyton. serupa, namun tidak sama dengan array pada bahassa pemograman lainnya. bedanya, elemen list pada phyton tidak harus memiliki tipe data yang sama. list cukup mudah digunakan yaitu dengan menggunakan kurung siku dan elemen yang dipisahkan dengan koma.

setiap data di dalamnya dapat diakses dengan indeks yang dimulai dari 0.

In [ ]:
#Contoh List
L1 = [1,4,2,13]
print(type(L1))

<class 'list'>

In [ ]:
L2=["a","phyton",3]
print(type(L2))

<class 'list'>

In [ ]:
print(L1)
print(L2)

[1, 4, 2, 13]
['a', 'phyton', 3]

In [ ]:
#Sifat-sifat list

#Terurut/Ordered
print("Memanggil List L1 dengan indeks urutan:", L1[0:3])

#Bisa Diganti/Mutable
L1[1] = 2
print("List L1 setelah diganti elemenya:", L1)

L1 = [1, "dua", True, 2+3j]

#Dapat Diindeks/Slicing
print("Slicing List L1:", L1[3])

#Dapat Diijinkan Duplikasi
L1 = [1, "dua", True, 2+3j, 2+3j]
print("Duplikasi pada List L1", L1)

#Dapat mengubah data dengan mengganti elemen tertentu
L1 = [1, "dua", True, 2+3j]
L1[2] = 3
print("Data setelah diubah:", L1)

#Dapat menambahkan elemen baru pada data
L1 = [1, "dua", True, 2+3j]
L1.append(20)
print("Data setelah ditambahkan elemennya:", L1)

#Dapat menghapus elemen pada data (remove() = menghapus berdasarkan nama objek)
L1 = [1, "dua", True, 2+3j]
L1.remove(2+3j)
print("Data setelah dihapus elemennya:", L1)

Memanggil List L1 dengan indeks urutan: [1, 4, 2]
List L1 setelah diganti elemenya: [1, 2, 2, 13]
Slicing List L1: (2+3j)
Duplikasi pada List L1 [1, 'dua', True, (2+3j), (2+3j)]
Data setelah diubah: [1, 'dua', 3, (2+3j)]
Data setelah ditambahkan elemennya: [1, 'dua', True, (2+3j), 20]
Data setelah dihapus elemennya: [1, 'dua', True]

In [ ]:
#menambahkan data menggunakan fungsi extend
L1 = [1, "dua", True, 2+3j]
L1.extend("nanas")
print(L1)

[1, 'dua', True, (2+3j), 'n', 'a', 'n', 'a', 's']

In [ ]:
L1 = [1, "dua", True, 2+3j]
L1.extend(["nanas"])
print(L1)

[1, 'dua', True, (2+3j), 'nanas']

In [ ]:
#menambahkan data menggunakan fungsi insert
L1 = [1, "dua", True, 2+3j]
L1.insert(2,5)
print(L1)

[1, 'dua', 5, True, (2+3j)]

In [ ]:
#menghapus elemen dari list menggunakan fungsi pop()(menghapus berdasarkan indeks)
L1 = [1, "dua", True, 2+3j]
L1.pop(2)
print(L1)

[1, 'dua', (2+3j)]

In [ ]:
L1 = [1, "dua", True, 2+3j]
L1.pop()
print(L1)

[1, 'dua', True]

In [ ]:
#latihan sendiri
L5=[4,'dua',True,5+3j]
#Dapet diindeks/slicing
print("slicing list L5:", L5[3])
#Dapat diijinkan duplikasi
L5=[4,'dua',True,5+3j]
print("Duplikasi pada list L5:", L5)
#Dapat mengubah data dengan elemen tertentu
L5=[4,'dua',True,5+3j]
L5[2]=3
print("data setelah diubah:",L5)
#dapat menambahkan elemen baru pada data
L5=[4,'dua',True,5+3j]
L5.append(20)
print("data setelah ditambahkan elemennya:",L5)
#dapat menghapus elemen data(remove)=menghapus berdasarkan nama objek
L5=[4,'dua',True,5+3j]
L5.remove(5+3j)
print("data setelah dihapus elemennnya:",L5)
L5=[4,'dua',True,5+3j]
L5.extend("curut")
print(L5)
L5=[4,'dua',True,5+3j]
L5.extend(["curut"])
print(L5)
L5=[4,'dua',True,5+3j]
L5.insert(2,7)
print(L5)

slicing list L5: (5+3j)
Duplikasi pada list L5: [4, 'dua', True, (5+3j)]
data setelah diubah: [4, 'dua', 3, (5+3j)]
data setelah ditambahkan elemennya: [4, 'dua', True, (5+3j), 20]
data setelah dihapus elemennnya: [4, 'dua', True]
[4, 'dua', True, (5+3j), 'c', 'u', 'r', 'u', 't']
[4, 'dua', True, (5+3j), 'curut']
[4, 'dua', 7, True, (5+3j)]

tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [ ]:
T1=(1,"dua", True, 1+2j)
print("ini adalah tuple", T1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [ ]:
T11 = 1, "dua", True, 1+2j
print("ini adalah tuple", T11)

ini adalah tuple (1, 'dua', True, (1+2j))

In [ ]:
#menampilkan tipe struktur data
type(T1)

tuple

In [ ]:
type(T11)

tuple

In [16]:
#SIFAT TUPLE
#Terurut/Ordered
T1[0:3]

(1, 'dua', True)

In [17]:
#Tidak Bisa Diganti/Immutable
T1[2] = "manusia"

TypeError: ignored

In [18]:
#Dapat Diindeks/Slicing
print("elemen kedua dari tuple T1 adalah:", T1[1])
#Dapat Diijinkan Duplikasi
T2 = (3, 2.4, True, 2.4)
T2
#Tidak dapat menambahkan elemen baru
T1 = (1, "dua", True, 1+2j)
print(f'tuple\t:{T1}')

elemen kedua dari tuple T1 adalah: dua
tuple	:(1, 'dua', True, (1+2j))

In [19]:
T1.append(10)
T1.append(50)
print(f'tuple\t: {T1}')

AttributeError: ignored

In [20]:
#Tidak dapat menghapus elemen
T1 = (1, "dua", True, 1+2j)
print(f'tuple\t:{T1}')

tuple	:(1, 'dua', True, (1+2j))

In [21]:
T1.remove(1)
T1.remove("dua")
print(f'tuple\t:{T1}')

AttributeError: ignored

In [23]:
#menggabungkan tuple
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

In [24]:
#Latihan
T5 = ("pecahan", 78.0, 3j+10, True)
print ("ini adalah tuple 5",T5)

ini adalah tuple 5 ('pecahan', 78.0, (10+3j), True)

In [25]:
T4 = (13, 14, 15, 16, 17)
T4

(13, 14, 15, 16, 17)

In [26]:
T6 = T5+T4
T6

('pecahan', 78.0, (10+3j), True, 13, 14, 15, 16, 17)